@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    padding-top: 50px;
    text-align: center;
}
header > h1{
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(58, 58, 58);
    color: white;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.356);
    width: 400px;
    border-radius: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;

}