@charset "UTF-8";                                                      
body{
    background-color: rgb(175, 255, 242);
    text-align: justify;
}
h1#principal{
     color: rgb(255, 255, 255);
    background-color: rgb(0, 177, 138);
    text-align: center;
}
h1{
    color: rgb(0, 177, 138);
}
h2{
    color: rgb(35, 77, 77);
}
.basic{
    color: rgb(66, 133, 66);
}
.medium{
    color: rgb(128, 128, 62);
}
.hard{
    color: rgb(124, 57, 57);
}